/*
YUI Reset CSS 3.3.0
*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* YUI Fonts CSS */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* Structure */
html { height: 100%; }
body { min-height: 100%; background-color: #9a9a9a; color: #333; padding: 15px; font-family: 'Mako', 'Arial', 'Helvetica', sans-serif; }

#container { width: 860px; margin: 0px auto; background-color: #eee; padding: 0px 20px 20px; -webkit-box-shadow: 2px 2px 10px 0px #555; -moz-box-shadow: 2px 2px 10px 0px #555; box-shadow: 2px 2px 10px 0px #555; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; z-index: 100; }
#content { float: left; width: 575px; padding-right: 35px; }
#sidebar { width: 250px; float: left; }
#footer { clear: both; }

/* basic styles */
.clearboth { clear: both; }

/* header */
#header h1 { font-family: 'Arvo', 'Arial Black', 'Arial', 'Helvetica', sans-serif; font-weight: bold; text-transform: uppercase; font-size: 244%; padding: 1em 0px; text-align: center; }

/* copyright footer */
#copyright { font-size: 85%; text-align: center; margin: 1em 0px; }


/* post styles */
.post { position: relative; margin-bottom: 3em; }
.post .post_header { clear: both; vertical-align: middle; margin-bottom: 1em; }
.post h2 { font-family: 'Arvo', 'Arial Black', 'Arial', 'Helvetica', 'sans-serif'; font-size: 166%; line-height: 24px; }

.post .post_info { position: absolute; left: -97px; top: 0px; background-color: #ccc; border: 1px solid #666; border-right-width: 0px; -moz-border-radius: 5px 0px 0px 5px; -webkit-border-radius: 5px 0px 0px 5px; border-radius: 5px 0px 0px 5px; z-index: 90; width: 75px; }
.post .post_info >  div { text-align: center; padding: 8px; }
.post .post_info .post_date { background-color: #ccc; border-radius: 5px 0px 0px; }
.post .post_info .post_comments { overflow: hidden; border-radius: 0px 0px 0px 0px; background-color: #dedede; }
.post .post_info .post_social { background-color: #ccc; border-radius: 0px 0px 0px 5px; text-align: center; }
.post .post_info .post_social div.aligncenter span { margin: 0px auto; display: block; margin-bottom: 10px; }
.post .post_info div big { font-size: 24px; font-weight: bold; display: block; line-height: 24px; }
.post .post_info div small { font-size: 12px; font-weight: normal; text-transform: uppercase; display: block; line-height: 12px; }

.post .content { clear: both; margin: 1em 0px; }
.post .content p { margin: 1em 0px; text-align: justify; font-size: 108%; }

.post .content .aligncenter { margin: 0px auto; display: block; }
.post .content .alignleft { margin: 10px 10px 10px 0px; float: left; display: block; }

.post .content .wp-caption { background-color: #ddd; }
.post .content .wp-caption img { padding: 5px; }
.post .content p.wp-caption-text { margin: 0px; padding: 0px 5px 5px; font-size: 93%; }

/* sidebar styles */
#sidebar h2.widgettitle { font-family: 'Arvo', 'Arial Black', 'Arial', 'Helvetica', 'sans-serif'; font-size: 166%; }
