.border-radius(@r1, @r2, @r3, @r4) {
	border-radius: @r1 @r2 @r3 @r4;
	-moz-border-radius: @r1 @r2 @r3 @r4;
	-webkit-border-radius: @r1 @r2 @r3 @r4;
}

.border-radius(@r1) {
	.border-radius(@r1, @r1, @r1, @r1);
}

.box-shadow (@h, @v, @blur, @spread, @color) {
	-webkit-box-shadow: @h @v @blur @spread @color;
	-moz-box-shadow: @h @v @blur @spread @color;
	box-shadow: @h @v @blur @spread @color;
}

.text-shadow (@color, @x, @y, @blur) {
	text-shadow: @color @x @y @blur;
}

.transparent(@pct) {
	@pctDecimal: @pct / 100;

	zoom: 1;
	filter: alpha(opacity=@pct);
	opacity: @pctDecimal;
}

.font-face(@name, @filename, @weight: normal, @font_style: normal, @path: '../type') {
	font-family: @name;
	src: local(@name);
	src: url('@{path}/@{filename}-webfont.eot');
	src: url('@{path}/@{filename}-webfont.eot?#iefix') format('embedded-opentype'),
		url('@{path}/@{filename}-webfont.woff') format('woff'),
		url('@{path}/@{filename}-webfont.ttf') format('truetype'),
		url('/@{path}/@{filename}-webfont.svg#@{name}') format('svg');
	font-weight: @weight;
	font-style: @font_style;
}

.background-gradient(@from: @from, @to: @to) {
	background: @from; // old browsers
	background: -moz-linear-gradient(top, @from 42%, @from 100%); // FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(42%, @from), color-stop(100%, @to)); // Chrome, Safari4+
	background: -webkit-linear-gradient(top, @from 42%, @to 100%); // Chrome10+, Safari5.1+
	background: -o-linear-gradient(top, @from 42%, @to 100%); // Opera11.10+
	background: -ms-linear-gradient(top, @from 42%, @to 100%); // IE10+

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{from}', endColorstr='@{to}',GradientType=0 ); // IE6-9

	background: linear-gradient(top, @from 42%, @to 100%); // W3C

	background-height: 100%;
	background-attachment: fixed;
}

.background-size(@val) {
	-webkit-background-size: @val;
	-moz-background-size: @val;
	-o-background-size: @val;
	background-size: @val;
}

.buttonBackground(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
	.vertical(@startColor: #555, @endColor: #333) {
		background-color: mix(@startColor, @endColor, 60%);
		background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
		background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
		background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
		background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
		background-repeat: repeat-x;
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor))); // IE9 and down
	}

	.gradientBar(@primaryColor, @secondaryColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
		color: @textColor;
		// text-shadow: @textShadow;
		.vertical(@primaryColor, @secondaryColor);
		border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
		border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
	}

	.reset-filter() {
		filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
	}

	.gradientBar(@startColor, @endColor, @textColor, @textShadow);
	*background-color: @endColor;
	.reset-filter();

	// in these cases the gradient won't cover the background, so we override
	&:hover, &:active, &.active, &.disabled, &[disabled] {
		color: @textColor;
		background-color: @endColor;
		*background-color: darken(@endColor, 5%);
	}

	// IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
	&:active,
	&.active {
		background-color: darken(@endColor, 10%) e("\9");
	}
}

.unselectable() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
