@import "_functions.less";

.clearboth { clear: both; }
.hidden { display: none; }
.nowrap { white-space: nowrap; }

.clearfix() {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

	& { display:inline-block; }
	& { display: block; }
}

@mastheadFont: 'Roboto Slab', 'Arial Black', 'Arial', 'Helvetica', sans-serif;
@headerFont: 'Roboto Condensed', 'Arial Black', 'Arial', 'Helvetica', sans-serif;
@bodyFont: 'Mako', 'Arial', 'Helvetica', sans-serif;
// @bodyFont: sans-serif;

@defaultFontSize: 14px;

.pageHeader() {
	font-size: 26px;
	font-weight: bold;
	font-family: @mastheadFont;
	text-transform: uppercase;
	border-bottom: 1px solid #747474;
	padding-bottom: 0.25em;
	margin-bottom: 1em;
}

.pageDescription() {
	big {
		font-size: 24px;
		font-family: @headerFont;
	}

	font-size: 16px;
	margin: 0px 0px 1em;
	padding: 1em;
}
