@media (max-width: 768px) {
	body {
		background: #eee;
		background-size: 100%;
	}

	#section411-banner {
		z-index: 105;

		font-size: 14px;
		line-height: 1.5 * 14px;
		box-shadow: none;

		a {
			width: auto;
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	#tab_container {
		width: auto;
	}

	#container {
		.box-shadow(0px, 0px, 0px, 0px, rgba(0, 0, 0, 0));
		width: 100%;
		padding-top: 100px;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}

	#header {
		h1 {
			font-size: 24px;
		}
	}

	#tab_container {
		padding-top: 0px;
	}

	#content {
		width: 100%;
		box-sizing: border-box;
		padding: 0px 7px;

		&.hide_sidebar {
			width: 100%;
		}
	}
}
