@media (max-width: 768px) {
	.post {
		padding: 0px 7px;
		.post-info {
			display: none;
		}

		.content {
			img {
				max-width: 95% !important;
			}

			img.alignleft, img.alignright {
				float: none;
				margin: 0px auto;
			}

			.meta {
				.tags {
					width: 65%;
				}
			}

			.recommendations {
				height: 150px;
			}
		}
	}

	.post_first {
		margin-bottom: inherit;
	}

	#interstitial_recommendations {
		height: 150px;
	}
}
