#pagination {
	.prev { float: left; }
	.next { float: right; }

	div { background-color: #ddd; padding: 3px 5px; border: 1px solid #aaa; width: 80px; text-align: center; }
	a { color: #333; font-weight: bold; .border-radius(1px); text-decoration: none; }
}
