#search {
	position: absolute;
	right: 30px;
	height: 40px;
	padding: 7px 0px;	
	overflow-y: hidden;
	z-index: 101;
	width: 250px;
	
	&, & * { 
		box-sizing: border-box;
	}

	#search_text, #search_submit {
		background-color: #ddd;
	}

	&.empty {
		width: 160px;
	}

	&.empty {
		#search_text, #search_submit {
			background-color: #777;
		}

		&:hover {
			#search_text, #search_submit {
				background-color: #999;
			}
		}
	}

	#search_text {
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
		right: 26px;
		height: 26px;
		width: 100%;
		margin: 7px 0px;

		font-size: 14px;
		line-height: 16px;
		padding: 5px 5px;
		font-family: @headerFont;
		
		border-width: 0px;

		&:focus {
			outline: none;
		}
	}

	#search_submit {
		position: absolute;
		right: 0px;
		top: 0px;
		bottom: 0px;
		width: 26px;
		height: 26px;
		margin: 7px 0px;
		padding: 5px 5px;
		border-width: 0px;

		&:focus {
			outline: none;
		}
	}

	input:focus {
		outline: none;
	}
}

html.ie #search #search_text { padding-top: 4px; }
