.widget { 
	margin: 0px 0px 2em;
}

#sidebar {
	h2.widgettitle { 
		font-family: @headerFont;
		font-size: 166%;
		font-weight: bold;
		border-bottom: 1px solid #aaa;
		margin-bottom: 0.5em; 
	}

	a { 
		text-decoration: underline; 
		color: #369;
		
		&:hover {
			text-decoration: none;
			color: #369;
		}
	}
}

#fanbox_container { 
	background-color: #f9f9f9;
	overflow: hidden;
	.border-radius(5px);
}

#twitter_update_list {
	li {
		margin: 1em 0px; 
		padding: 0.5em;
		.border-radius(2px);
		background-color: #f9f9f9; 
	}
}

@import "widgets/_calendar.less";
@import "widgets/_ballpark_resume.less";
@import "widgets/_bitbucket_events.less";
@import "widgets/_github_events.less";
@import "widgets/_about_me.less";

#sidebar {
	.widget_links {
		li {
			font-size: 14px;
			line-height: 15px;
			font-weight: normal;
			padding: 5px 10px;

			a, a:hover {
				color: #369;
				font-weight: normal;
				text-decoration: none;
			}

			&.odd { background-color: #e1e1e1; }
			&.even { background-color: #f9f9f9; }
		}
	}
}

