#content.projects {

	#projects {
		position: relative;
		.clearfix;

		.col {
			float: left;
			width: 276px;
			margin-right: 15px;

			.project {
				margin-bottom: 15px;
				position: relative;

				.container {

					background-color: #f9f9f9;

					border: 1px solid darken(#aaa, 0%);
					.box-shadow(1px, 1px, 10px, 2px, #aaa);
					.border-radius(2px);
					padding-top: 5px;
					overflow: hidden;

					.elementpadding() {
						padding: 0px 5px;
					}

					.elementmargin() {
						margin: 0px 5px;
					}

					h2 {
						font-family: @headerFont;
						font-size: 150%;
						text-decoration: none;
						font-weight: bold;
						.elementmargin;
						border-bottom: 1px solid lighten(#444, 30%);
						padding-bottom: 3px;
					}

					h3 {
						font-size: 93%;
						text-decoration: none;
						.elementpadding;

					}

					img.screenshot {
						display: block;
						max-width: 90%;
						max-height: 200px;
						margin: 1em auto;
					}

					ul {
						font-size: 93%;
						margin: 1em 0px;
						.elementpadding;

						li {
							list-style-type: square;
							margin-left: 16px;
						}
					}

					a {
						color: #369;
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}

					div.meta {
						overflow: hidden;
						background-color: #555;
						white-space: normal;

						.times {
							font-size: 77%;
							border-bottom: 1px dashed #777;
							color: #f9f9f9;
							padding: 5px;				
						}

						.tags {
							padding: 5px;
							line-height: 18px;
							font-size: 85%;
							.tag {
								padding: 0px 6px;
								.border-radius(10px);
								background-color: #999;
								white-space: nowrap;
							}	
						}
					}
				}

				&:hover {
					.container {
						border-color: darken(#aaa, 10%);
						background-color: #ddd;
						.box-shadow(1px, 1px, 10px, 2px, #555);

						h2 {
							color: #369;
						}

						img.screenshot {
							// display: block;
						}

						div.meta {
							.tag {
								background-color: #aaa;
							}
						}
					}
				}
			}
		}

		.col-2 {
			margin-right: 0px;
		}
	}
}