#sidebar .widget_aboutmewidget {
	p {
		font-style: normal;
		font-size: 108%;
		margin: 1em 0px;
	}

	.more_link {
		float: right;
		.clearboth;
		padding: 3px 5px;
		background-color: #ddd;
		border: 1px solid #aaa;
		.border-radius(1px);

		a {
			color: #333;
			font-weight: bold;
			text-decoration: none;
		}
	}
}