#ballpark_resume {
	li {
		font-size: 14px;
		line-height: 15px;
		font-weight: normal;
		padding: 5px 10px;
		position: relative;

		&.odd {
			background-color: #e1e1e1; 
		}

		&.even {
			background-color: #f9f9f9;
		}

		p.link {
			a, a:hover {
				text-decoration: none;
				color: #369;
				font-weight: normal;
			}	
		}

		p.small {
			font-size: 85%;
			color: #444;
		}

		.rating {
			font-weight: bold;
			font-size: 140%;
			position: absolute;
			right: 10px;
			top: 10px;
			text-align: center;
			width: 20px;
			color: #333;
		}
	}
}